# Data files
*.rda
*.rds
*.csv
*.tsv
*.xlsx
*.xls


# Output files
*.pdf
*.png
*.jpg
*.jpeg
*.svg
*.out

# Log files
*.log

/scratch/

# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# System files
.DS_Store
Thumbs.db