# Data files
*.rda
*.rds
*.csv
*.tsv
*.xlsx
*.xls
*.mtx


# Output files
*.pdf
*.png
!FlowChart.png
!SimpleFlowChart.png
*.jpg
*.jpeg
*.svg
*.out

# Log files
*.log
*.err
*.txt

/scratch/

# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# System files
.DS_Store
Thumbs.db